table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 10px;
    display: none;
}

table th, table td {
    text-align: left;
    padding: 4px;
    border: 1px solid #e79c9c;
}
 
table tr:nth-child(even) {
    background-color: #a6f84e;
}

table tr:hover {
    background-color: #ddd;
    color: rgb(93, 103, 3);
}

table th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

table th:nth-child(1), 
table td:nth-child(1) { 
  width: 20px; /* Пример изменения ширины конкретной колонки*/
}

.td[role="cell"] {
    background-color: #4CAF50;
}

.error {
    background-color: #FFCCCC;  /* светло-красный фон */
    color: #a00;                /* красный текст */
}